@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #118dff;
  --secondary-color: #ff1167;
  --black: #000;
  --white: #fff;
  --grey: #7d8dad;
  --light-grey: #c2cce0;

  --gutter-desktop: 1em;
  --gutter-mobile: 1em 1.5em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
}

.heading1,
.heading2,
.heading3 {
  font-weight: 700;
}

.heading1 {
  font-size: 2rem;
}

.heading2 {
  font-size: 1.75rem;
}

.heading3 {
  font-size: 1.5rem;
}

.subtitle,
.control-group label,
.stats-label {
  color: var(--grey);
}

.container {
  padding: var(--gutter-mobile);
  height: 100%;
}

@media screen and (min-width: 830px) {
  .container {
    padding: var(--gutter-desktop);
  }
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .subtitle {
  margin-left: 1em;
}

.controls {
  padding: var(--gutter);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.control-group label {
  display: block;
  margin-bottom: 0.5em;
}

.control-group .select select {
  display: none;
}

.control-group .select {
  padding: 0.25em 1em;
  border: 1px solid var(--light-grey);
  font-size: 18px;
  border-radius: 5px;
}

.double-slider {
  position: relative;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: var(--light-grey);
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
  background-color: var(--primary-color);
}

.slider > .thumb {
  position: absolute;
	z-index: 3;
	width: 25px;
	height: 25px;
	background-color: var(--primary-color);
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}

.slider > .thumb.slider-left {
	left: 25%;
	transform: translate(-12px, -7px);
}

.slider > .thumb.slider-right {
	right: 25%;
	transform: translate(12px, -7px);
}

.slider > .thumb.slider-divider {
  background-color: var(--secondary-color);
  transform: translate(12px, -12px);
  border-radius: 1px;
  width: 5px;
  height: 35px;
  right: 45%;
  z-index: 2;
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: rgba(256,0,0,.3);
	-webkit-appearance: none;
}

.graph {
  height: 500px;
}

.mt-40 {
  margin-top: 40px;
}